* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Krub', sans-serif; }

header {
  display: flex;
  justify-content: space-between;
  background-color: yellow;
  height: 12%;
  width: 100%; }
  header div {
    margin: auto 0;
    width: auto;
    height: 100%;
    display: flex;
    align-items: center; }
    header div img {
      width: 100%;
      background-repeat: no-repeat;
      background-position: center;
      margin: 10px; }
  header nav {
    display: flex;
    align-items: flex-end; }
    header nav ul {
      height: 30px;
      display: flex;
      align-items: flex-start;
      list-style: none;
      background-color: #303841;
      border-radius: 5px 0px 0px 5px;
      margin-bottom: 0; }
      header nav ul li {
        margin: auto 0;
        justify-content: center;
        align-items: center; }
        header nav ul li a {
          font-size: 18px;
          text-decoration: none;
          font-family: 'Saira semi condense', sans-serif;
          margin: 0px 20px 0px 20px;
          color: #F7F7F7; }

.body-inicio {
  background-color: #2E4750;
  height: 100%; }
  .body-inicio img {
    width: 100%; }
  .body-inicio .contenedor-inicio {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
    .body-inicio .contenedor-inicio section {
      background-color: #303841;
      width: 30%;
      height: 50%;
      position: absolute;
      top: 30%; }

.body-proyecto {
  background-color: #2E4750; }
  .body-proyecto .titulo-proyectos {
    background-color: yellow;
    width: 10%;
    height: 10%;
    margin: 15px auto;
    border-radius: 5px;
    padding: 2px;
    line-height: 33px;
    font-size: 26px;
    text-align: center;
    font-family: "Saira Semi Condensed", sans-serif; }
  .body-proyecto .proyecto-padre {
    width: 100%;
    height: 800px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    justify-items: center; }
    .body-proyecto .proyecto-padre .proyecto-1 {
      background-image: url(../img/img-proyecto/proyecto-1.jpg);
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat; }
    .body-proyecto .proyecto-padre .proyecto-2 {
      background-image: url(../img/img-proyecto/proyecto-2.jpg);
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat; }
    .body-proyecto .proyecto-padre .proyecto-3 {
      background-image: url(../img/img-proyecto/proyecto-3.jpg);
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat; }
    .body-proyecto .proyecto-padre section {
      background-color: #2E4750;
      width: 400px;
      height: 600px;
      border-radius: 5px; }
      .body-proyecto .proyecto-padre section .sub-proyecto {
        width: 100%;
        height: 40px;
        background-color: black;
        border-radius: 5px;
        text-align: center;
        backdrop-filter: blur(2px); }
        .body-proyecto .proyecto-padre section .sub-proyecto h2 {
          color: #F7F7F7;
          font-size: 26px;
          padding: 1px;
          font-family: 'Saira Semi Condensed', sans-serif; }
      .body-proyecto .proyecto-padre section p {
        text-align: center;
        margin-top: 550px;
        background-color: black;
        color: #F7F7F7;
        border-radius: 5px; }

.body-steel {
  background-color: #2E4750; }
  .body-steel h1 {
    background-color: yellow;
    width: 15%;
    height: 10%;
    margin: 15px auto;
    border-radius: 5px;
    padding: 2px;
    line-height: 33px;
    font-size: 26px;
    text-align: center;
    font-family: "Saira Semi Condensed", sans-serif; }
  .body-steel .contenedor-steel {
    width: 100%;
    height: 100%;
    padding: 30px;
    margin: 0 auto;
    background-color: #2E4750;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr;
    gap: 5px; }
    .body-steel .contenedor-steel section {
      background-color: #303841;
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      align-items: center; }
      .body-steel .contenedor-steel section h2 {
        color: #F7F7F7;
        padding: 10px;
        margin: 5px;
        text-align: center;
        font-size: 20px;
        font-family: "Saira Semi Condensed", sans-serif; }
      .body-steel .contenedor-steel section img {
        width: 100%;
        background-position: center center;
        background-size: auto; }
      .body-steel .contenedor-steel section p {
        text-align: center;
        color: #F7F7F7;
        padding: 5px;
        margin: auto; }

.body-somos {
  background-color: #2E4750; }
  .body-somos h1 {
    background-color: yellow;
    width: 15%;
    height: 5%;
    margin: 15px auto;
    border-radius: 5px;
    padding: 2px;
    line-height: 33px;
    font-size: 26px;
    text-align: center;
    font-family: "Saira Semi Condensed", sans-serif; }
  .body-somos .contenedor-somos {
    background-color: #2E4750;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center; }
    .body-somos .contenedor-somos div {
      background-color: #303841;
      width: 80%;
      height: 960px;
      margin: 0 auto;
      border-color: black;
      border-style: dashed;
      border-radius: 10px;
      margin-bottom: 20px; }
      .body-somos .contenedor-somos div p {
        text-align: center;
        margin: 10px;
        color: #F7F7F7; }

.body-contacto {
  background-color: #2E4750;
  height: 100%; }
  .body-contacto .contenedor-contacto {
    background-color: #2E4750;
    height: 960px; }
    .body-contacto .contenedor-contacto h1 {
      background-color: yellow;
      width: 20%;
      height: 5%;
      margin: 15px auto;
      border-radius: 5px;
      padding: 2px;
      line-height: 33px;
      font-size: 26px;
      text-align: center;
      font-family: "Saira Semi Condensed", sans-serif; }
    .body-contacto .contenedor-contacto .formulario {
      background-color: #F7F7F7;
      width: 30%;
      height: 80%;
      padding: 20px;
      margin: auto;
      display: flex;
      flex-direction: column;
      box-shadow: 20px 10px 10px #303841;
      border-radius: 10px; }
      .body-contacto .contenedor-contacto .formulario input, .body-contacto .contenedor-contacto .formulario label, .body-contacto .contenedor-contacto .formulario textarea {
        width: 100%;
        padding: 5px;
        margin: 5px;
        font-size: 15px; }

footer {
  display: flex;
  width: 100%;
  height: 45px;
  background-color: yellow;
  justify-content: center;
  align-items: center; }
  footer h2 {
    text-align: center;
    font-size: 25px;
    font-family: "Saira Semi Condensed", sans-serif; }

@media (max-width: 400px) {
  header {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto; }
    header div {
      width: 100%;
      height: 100%;
      justify-content: center; }
      header div img {
        width: 90%;
        height: auto;
        margin-top: 5px; }
    header nav {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      border-radius: 0px; }
      header nav ul {
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        flex-direction: column;
        border-radius: 0px; } }

@media screen and (max-width: 780px) {
  .proyecto-padre {
    display: flex;
    flex-direction: column;
    justify-content: center; } }
