

@mixin cajas-proyecto {
    background-color: $color2;
    width: 400px;
    height: 600px;
    border-radius: 5px;
}
@mixin contenedor-titulos{
    width: 100%;
    height: 40px;
    background-color: black;
    border-radius: 5px;
    text-align: center;
    backdrop-filter: blur(2px);
}
@mixin titulos-proyecto{
    color:$color4;
    font-size: 26px;
    padding: 1px;
    font-family: 'Saira Semi Condensed', sans-serif;
}
@mixin pie-proyecto{
    text-align: center;
    margin-top: 550px;
    background-color: black;
    color: $color4;
    border-radius: 5px;
}

// Titulos de paginas 
@mixin subtitulos-paginas ($Width, $height) {
    background-color: $color3;
    width: $Width;
    height: $height;
    margin: 15px auto;
    border-radius: 5px;
    padding: 2px;
    line-height: 33px;
    font-size: 26px;
    text-align: center;
    font-family: $fuente-bold;
}
// Ajustes imagenes - proyecto
@mixin ajuste-img{
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}