// Reset 
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Krub', sans-serif;
}

// Paleda de colores principales
$color1: #303841;
$color2: #2E4750;
$color3: yellow;
$color4: #F7F7F7;

//Fuentes
$fuente-bold:'Saira Semi Condensed', sans-serif;